$bg_color: #e1dff1;

$accent_color: #ef60f4;

$orange_color: #ffba00;
$base_color: #1f1b32;
$sub_color: #a398c6;
$dark_color: #000000;

$warn_color: #e3aaad;
$accept_color: #c7f3ce;


$light_text: #f9f6ff;
$dark_text: #211537;
