@import "src/assets/style/variables";

.new_discipline_button{
  background: $accept_color;
  margin: 0 0 1rem 1rem;
}

.discipline_block{
  min-height: 90vh;
  overflow: auto;
  ::ng-deep table {
    width: 100%;
    td:last-child {
      width: 10px;
      padding-right: 10px;
    }
  }
}
