<div class="labs_block">
  <div>
    <mat-card class="search_card ontainer__centered__start">
      <div class="flex_container__space">
        <div class="flex_container gap-1rem">
          <button
            (click)="clickAddButton()"
            mat-raised-button
            class="add_button"
            aria-label="Example icon button with a delete icon">
            New lab...
          </button>
          <button
            (click)="clickAverageMinPointButton()"
            mat-raised-button
            aria-label="Example icon button with a delete icon">
            Average min point
          </button>
          <button
            (click)="clickDeleteByDifficultyButton()"
            mat-raised-button
            aria-label="Example icon button with a delete icon">
            Delete by difficulty
          </button>
        </div>
        <div class="lab_paginator flex_container">
          <div class="per_page flex_container">
            <label>
              Items per page:
            </label>
            <mat-form-field>
              <mat-select>
                <mat-option>10</mat-option>
                <mat-option>25</mat-option>
                <mat-option>50</mat-option>
                <mat-option>100</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="page_num">
            <label>
              Page: {{1}}
            </label>
          </div>
          <div class="lab_slider flex_container">
            <mat-icon>
              keyboard_arrow_left
            </mat-icon>
            <mat-icon>
              keyboard_arrow_right
            </mat-icon>
          </div>
        </div>
      </div>
      <mat-paginator [length]="200" [pageSizeOptions]="[10, 50, 100]" aria-label="Select page">
      </mat-paginator>


    </mat-card>
    <div class="labs_grid">
      <app-lab-card
        *ngFor="let lab of labs"
        [lab]="lab"
      >
      </app-lab-card>
    </div>
  </div>
  <div class="filter_container">
    <app-filter-accordion></app-filter-accordion>
  </div>
</div>
