@import "src/assets/style/variables";

.labs_block{
  min-height: 90vh;
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: 74% 25%;
  gap: 0.5%;
  overflow-y: hidden;
  //position: relative;
  .search_card {
    position: relative;
    .add_button{
      background: $blue_color;
    }
    .search_field {
      width: 70%;
      margin-top: 1rem;
    }
  }
}

.labs_grid{
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: 32.9% 32.9% 32.9%;
  gap: 0.54%;
}

.filter_container{
  //min-height: 100%;
  //background: #8b72a0;
}
